<div class="jumbotron jumbotron-info text-white bg-danger rounded">
  <div class="container">
    <h1 class="display-3">Contact</h1>
    <p class="lead font-italic">Tu souhaites nous contacter ?</p>
  </div>
</div>

<p class="text-center">Et bah déso mais pour l'instant c'est pas trop trop possible (ou utile), on verra plus tard :p</p>
