<div class="jumbotron jumbotron-info text-white bg-success rounded">
  <div class="container">
    <h1 class="display-3">L'équipe</h1>
    <p class="lead font-italic">Bienvenue Moussaillon, voici notre équipe :</p>
  </div>
</div>

<p class="text-center">Elle est composée de : Aurore (oui, bon c'est une petite équipe quoi :p)</p>
